h1 {
  font-family: serif;
  font-size: 300%;
  margin: 50px;
  text-align: center;
}
h2{ 
    font-family: serif;
    font-size: 180%; 
    text-align: center;
}

p {
  margin: 50px;
  font-size: 120%;
  text-align: center;
}
body {
  border: 5px solid black;
  margin: 100px;
  background-color:forestgreen
}
.box {
  width: 600px;
  margin: auto;
}
img {
  max-width: 100%;
}
a{
    text-align: center; 
    display: block;
}
html{ background-color: aqua;}